<div class="footer">
  <div class="container">
    <p class="text-muted">CopyRight &copy; Botsy <%= Time.now.year %><br>
    <a class= "glyphicon glyphicon-arrow-up" href="#top"></a> Back to Top</p>
  </div>
</div>
