<h1 class="text-center">Order Fulfillment</h1>
<p class="title-buttons">
  <%= link_to "Account Products", robot_products_path(current_robot), class: 'btn btn-default' %>
</p>
<h3 class="text-center">Total Revenue: <%=  %></h3>
<br>
<div class="row">
  <div class='col-md-12'>
    <table class='table table-bordered table-hover'>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Revenue from Item</th>
        <th>Purchase Date</th>
        <th>Order Status</th>
        <th>Shipping Status</th>
      </tr>
    </table>
  </div>
</div>