<h1>Items in your cart</h1>

<% if @current_order.orderitems.count > 0 %>
  <h2>Your current order has <%= @current_order.orderitems.count %> item<%= "s" if @current_order.orderitems.count != 1 %></h2>
  <table class="table">
    <tr>
      <td>
        Item
      </td>
      <td>
        Quantity
      </td>
    </tr>
      <% @current_order.orderitems.each do |item| %>
        <tr>
          <td>
            <%= item.product.name %>
          </td>
          <td>
            <%= item.quantity %>
          </td>
        </tr>
      <% end %>
  </table>
<% else %>
  <h2>No items yet! Keep shopping!</h2>
<% end %>
