<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="form-header"> Purchaser Information </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <table class="table table-hover table-bordered">
      <tr>
        <th class="active">Email</th>
        <td><%= @guest.email %></td>
      </tr>
      <tr>
        <th class="active">Mailing Address</th>
        <td><%= "#{@guest.address}, #{@guest.city}, #{@guest.state} #{@guest.zip}" %></td>
      </tr>
      <tr>
        <th class="active">Credit Card </th>
        <td><%= "**** #{@card_num}" %></td>
      </tr>
    </table>
      <%= link_to "Back to Orders", robot_fulfillment_path(current_robot.id), class: "btn btn-default" %>
    </div>
  </div>
