<h1 class="text-center">Thanks for shopping with BOTsy.</h1>
<p class="text-center">
  Your item(s) will be shipped as soon as possible.
</p>
<p class="title-buttons">
  <%= link_to "Return home", root_path, class: 'btn btn-info' %>
</p>
<p class="text-center">
  <%= image_tag("Blue-Robot.png") %>
</p>
